
<%= stylesheet_link_tag 'template.css',:plugin => 'redmine_batch_subtask_generation' %>


<div class="subtasks">
    <h2>New Subtask Template</h2>
    <form class="subtask-template edit" id="edit_template" enctype="multipart/form-data" 
            action="/subtasks/template/edit/<%= @template['id'] %>" method="post" accept-charset="UTF-8">

        <div class="box tabular">
            <div>
                <label for="template_name">Name<span class="required">*</span></label>
                <input size="60" type="text"value="<%= @template['name'] %>" name="template[name]" id="template_name">
            </div>
            <div>
                <label for="template_tracker">Apply to tracker</span></label>
                <select name="template[tracker]" id="project_parent_id" value="<%= @template['tracker'] %>">
                    <option value=""></option>
                    <% @trackers.each do |id, name| %>
                        <option value="<%= id %>" 
                            <%= id.to_s == @template['tracker'].to_s ? "selected" : '' %> 
                        ><%= name %></option>
                    <% end %>
                </select>
            </div>
            <div>
                <label for="template_layout">Template</span></label>
                <button type="button" class="add-template">+</button>
                <div class="tree">
                    <ul class="list wrapper"></ul>
                </div>
                
            </div>
        </div>
        <input type="hidden" name="template[structure]">
        <button type="submit" name="commit">Save</button>
        
    </form>
    <div style="clear:both;"></div>
</div>

<%= javascript_include_tag 'template.js', :plugin => 'redmine_batch_subtask_generation'%>
<script>

    var template = <%= @template.to_json.html_safe %>;
    let trackers = <%= @trackers.to_json.html_safe %>;
    let subtaskTemplate = new SubtaskTemplate({
        trackers: trackers
    });

    $(document).ready(function () {
        $('.add-template').on("click", subtaskTemplate.addTemplate);
        $('form.subtask-template').on('submit', function () {
            subtaskTemplate.addCsrfToken($(this));
            subtaskTemplate.updateTemplateStructure($(this));
        });
        if (Object.keys(template).length > 0 && template['structure'].length > 0) {
            subtaskTemplate.renderTemplatesAsEdit(template['structure'], $('.subtask-template ul.list.wrapper'));
        }
    });
</script>