<%= stylesheet_link_tag 'template.css',:plugin => 'redmine_batch_subtask_generation' %>

<div class=".subtask-template">
    <div class="contextual">
        <a class="icon icon-add" href="/subtasks/template/new">New Template</a>
    </div>
    <h2>Subtask Template</h2>
    <div class="autoscroll">
        <table class="list">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Apply for tracker</th>
                    <th>Created</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <% unless @templates.empty? %>
                    <% @templates.each do |template| %>
                        <tr class="project root leaf public ">
                            <td class="name"><span><a title="abc" href="/subtasks/template/edit/<%= template['id'] %>"><%= template['name'] %></a></span></td>
                            <td><%= @trackers[template['tracker'].to_i] %></td>
                            <td><%= template['created'] %></td>
                            <td class="buttons">
                                <a class="icon icon-copy" href="/subtasks/template/edit/<%= template['id'] %>">Edit</a>
                                <a class="delete-template icon icon-del" href="#">Delete</a>
                                <form class="form-delete" method="post" action="/subtasks/template/delete/<%= template['id'] %>"></form>
                            </td>
                        </tr>
                    <% end %>
                <% end %>
            </tbody>
           
        </table>
    </div>
    
    <div style="clear:both;"></div>
</div>

<%= javascript_include_tag 'template.js', :plugin => 'redmine_batch_subtask_generation'%>
<script>
    var trackers = <%= @trackers.to_json.html_safe %>;
    let subtaskTemplate = new SubtaskTemplate({
        trackers: trackers
    });
    $(document).ready(function() {
        $('.delete-template').on('click', function (e) {
            e.preventDefault();
            if (!confirm('Are you sure?')) {  
                return;
            }
            let $formDelete = $(this).closest('td').find('form');
            subtaskTemplate.addCsrfToken($formDelete);
            $formDelete.submit();
        });
    });
</script>