
<%= stylesheet_link_tag 'template.css',:plugin => 'redmine_batch_subtask_generation' %>


<div class="">
    <h2>New Subtask Template</h2>
    <form class="subtask-template new" id="new_template" enctype="multipart/form-data" action="/subtasks/template/create" method="post" accept-charset="UTF-8">
        <div class="box tabular">
            <div>
                <label for="template_name">Name<span class="required">*</span></label>
                <input size="60" type="text"value="" name="template[name]" id="template_name">
            </div>
            <div>
                <label for="template_tracker">Apply to tracker</span></label>
                <select name="template[tracker]" id="project_parent_id">
                    <option value=""></option>
                    <% @trackers.each do |id, name| %>
                        <option value="<%= id %>" ><%= name %></option>
                        <%= %>
                    <% end %>
                </select>
            </div>
            <div>
                <label for="template_layout">Template</span></label>
                <button type="button" class="add-template">+</button>
                 <div class="tree">
                    <ul class="list wrapper"></ul>
                </div>
            </div>
        </div>
        <input type="hidden" name="template[structure]">
        <input type="submit" name="commit" value="Create">
    </form>
    <div style="clear:both;"></div>
</div>

<%= javascript_include_tag 'template.js' ,:plugin => 'redmine_batch_subtask_generation'%>
<script>
    let trackers = <%= @trackers.to_json.html_safe %>;
    let subtaskTemplate = new SubtaskTemplate({
        trackers: trackers
    });
    $(document).ready(function () {
        $('.add-template').on("click", subtaskTemplate.addTemplate);
        $('.delete-template').on("click", subtaskTemplate.deleteTemplate);
        $('form.subtask-template').on('submit', function () {
            subtaskTemplate.addCsrfToken($(this));
            subtaskTemplate.updateTemplateStructure($(this));
        });
    });
</script>