
#btn_generate_subtasks.hide {
    display: none;
}

#select_template_modal.modal {
    display: none; 
    position: fixed; 
    z-index: 99999; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
}

/* The Close Button */
#select_template_modal .close {
    color: #aaaaaa;
    float: right;
    font-size: 15px;
    font-weight: bold;
}
#select_template_modal .close:hover,
#select_template_modal .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* Modal */
#select_template_modal .modal-header {
  padding: 10px 16px;
  background-color: #fefefe;
  color: white;
}

#select_template_modal .modal-body {
    padding: 10px 16px;
}

#select_template_modal .modal-footer {
  padding: 10px 16px;
  background-color: #fefefe;
  color: white;
}

#select_template_modal .modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 35%;
  border: 1px solid #888;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s
}

#select_template_modal .modal-body select {
    margin-left: 15px;
    padding-right: 20px;
}

#select_template_modal button{
  width: 60px;
  cursor: pointer
}

#select_template_modal button.confirm{
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}
#select_template_modal button.confirm:hover{
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}
#select_template_modal button.cancel{
  color: #286090;
}

@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}


/* Tree */
#select_template_modal .tree li {
  margin: 0px 0;
  list-style-type: none;
  position: relative;
  padding: 5px 5px 0px 5px;
}

#select_template_modal .tree li::before{
  content: '';
  position: absolute; 
  top: 0;
  width: 1px; 
  height: 100%;
  right: auto; 
  left: -20px;
  border-left: 1px solid #ccc;
  bottom: 50px;
}
#select_template_modal .tree li::after{
  content: '';
  position: absolute; 
  top: 16px; 
  width: 25px; 
  height: 20px;
  right: auto; 
  left: -20px;
  border-top: 1px solid #ccc;
}
#select_template_modal .tree li p{
  margin-bottom: 0;
  display: inline-block;
  /* border: 1px solid #ccc; */
  white-space: nowrap;
  padding: 5px 10px;
  text-decoration: none;
  font-family: arial, verdana, tahoma;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

#select_template_modal .tree > ul > li::before, .tree > ul > li::after{
  top: 16px;
}

#select_template_modal .tree li:last-child::before{ 
    height: 16px;
    top: 0;
}

/* #select_template_modal .tree li p:hover, .tree li p:hover+ul li p {
  background: #c8e4f8; color: #000; border: 1px solid #94a0b4;
} */

/* #select_template_modal .tree li p:hover+ul li::after, 
#select_template_modal .tree li p:hover+ul li::before, 
#select_template_modal .tree li p:hover+ul::before, 
#select_template_modal .tree li p:hover+ul ul::before{
  border-color:  #94a0b4;
} */

#select_template_modal .tree ul.list.wrapper > li:only-child::before{
  height: 0;
}
#select_template_modal .tree ul.list.wrapper > li:only-child::after {
  width: 0; 
}

#select_template_modal .tree ul.list.wrapper:not(:empty) {
  max-width: 100%;
  max-height: 300px;
  overflow: auto;
  border: solid 1px #ccc;
  padding-top: 20px;
  padding-bottom: 20px;
}

