.subtask-template ul, .subtasks-template li  {
    list-style: none;
}

.subtask-template button {
    cursor: pointer
}

.subtask-template button.add-template{
    margin-left: 2px;
    margin-right: 2px;
}

.subtask-template ul.list.wrapper {
    padding-left: 0;
}

.subtask-template .box.tabular div {
    margin: 0;
    padding: 3px 0 3px 0;
    padding-left: 180px;
    min-height: 2em;
    clear: left;
}

.subtask-template .tree li {
    margin: 0px 0;
    list-style-type: none;
    position: relative;
    padding: 5px 5px 0px 5px;
}
  
.subtask-template .tree li::before{
  content: '';
  position: absolute; 
  top: 0;
  width: 1px; 
  height: 100%;
  right: auto; 
  left: -20px;
  border-left: 1px solid #ccc;
  bottom: 50px;
}
.subtask-template .tree li::after{
  content: '';
  position: absolute; 
  top: 16px; 
  width: 25px; 
  height: 20px;
  right: auto; 
  left: -20px;
  border-top: 1px solid #ccc;
}


/*Remove connectors before root*/
.subtask-template .tree > ul > li::before, .subtask-template .tree > ul > li::after {
  top: 16px;
}


/*Remove connectors after last child*/
.subtask-template .tree li:last-child::before{ 
    height: 16px;
    top: 0;
}

.subtask-template .tree ul.list.wrapper > li:only-child::before{
  height: 0;
}
.subtask-template .tree ul.list.wrapper > li:only-child::after {
  width: 0; 
}


/* .subtask-template .tree li select:hover, .tree li select:hover+ul li a {
  background: #c8e4f8; color: #000; border: 1px solid #94a0b4;
} */


/* .subtask-template .tree li select:hover+ul li::after, 
.subtask-template .tree li select:hover+ul li::before, 
.subtask-template .tree li select:hover+ul::before, 
.subtask-template .tree li select:hover+ul ul::before{
  border-color:  #94a0b4;
} */

.subtask-template .tree {
    padding-left: 25px !important;
}